* {
  margin: 0;
  padding: 0;
  list-style: none;
}

html {
  /* 1em:10px　計算 */
  font-size: 62.5%;
}

.drawer {
  margin-top: 100px;
}

.drawer__buttonArea {
  text-align: center;
}

.drawer__menu {
  position: absolute;
  top: 0;
  left: -999px;
  width: 35%;
  background-color: bisque;
}

.drawer__list {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.drawer__item {
  font-size: 2rem;
}

.drawer__item {
  border-bottom: black solid 1px;
}
